@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --radius-sm: calc(var(--radius) - 8px);
  --radius-md: calc(var(--radius) - 4px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 1rem;
  --background: #fafafa;
  --foreground: #27272a;
  --primary: #27272a;
  --primary-foreground: #fafafa;
  --muted: #f4f4f5;
  --muted-foreground: #a1a1aa;
  --border: #f4f4f5;
  --input: #e4e4e7;
  --ring: #d4d4d8;
  --destructive: #a1a1aa;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
    letter-spacing: -0.011em;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }
}
